.container.track-your-device
   .row
      .col-md-12
         h1 Track your device
         form(role='form')
            h4 Where is your device?
            p Find out the status of your devices. Get started with the email address you placed your order with.
            .form-group
               label(for='email') Email address
               input(type='email', placeholder='Enter Email Address', name='email', ng-required).form-control

            button(type='submit').btn.btn-default.pull-right Track now

         .span.clearfix
         p.mt-20 Cash 4 My Device gives you cash for old iPhone models, regardless of their condition. With the easy-to-use online system, you can see exactly what your iPhone is worth before your send it. We guarantee you the highest offers for your old, used or broken iPhones, and we make it easy to send it in and get cash fast.
         p Get a quote for your used iPhone in seconds by simply selecting your phone type, carrier, capacity and condition from the available options. There are no lengthy surveys or questions; you don’t even have to enter your email to see how much your phone is worth through Cash 4 My Device. If you’re ready to sell your used or broken phone, we will send you a prepaid box and label to ship your phone for free. After a quick inspection, you will receive your quote via check or Paypal—so you can buy a newer model!
         p If you have upgraded your iPhone, cashed in a replacement, changed phones or your iPhone is broken, talk to us. Select your iPhone model to get a quote and send out your prepaid mailer in minutes.
