footer.container
  .row
    .col-md-12
      ul.nav.nav-pills
        li
          a(href='#') Home
        li
          a(href='#') About Us
      p &copy; 2014 Cash 4 My Device LLC. All Rights Reserved.
      p Buyback Boss is not affiliated with the manufacturers of the items available for trade-in.
      p These images, logos, and brands are the property of their respective owners.