doctype html
html
  head
    title= title
    // Mobile First
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.css')
    // Font front google (Strait)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Strait', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cookie', type='text/css')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header
        .row
          .col-md-12
            a(href='/')
              img(src='/images/cash4mydevice-logo.png', alt='Cash 4 My Device').logo.img-responsive
    .top-nav-wrap
      .container
        .row
          .col-md-12
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand.hidden-md.hidden-sm.hidden-lg(href='#') Menu
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='#') How It Works
                  li.nav-divider.hidden-xs
                  li
                    a(href='#') Track Your Device
                  li.nav-divider.hidden-xs
                  li
                    a(href='#') Customer Reviews
                  li.nav-divider.hidden-xs
                  li
                    a(href='#') FAQ

    .container
      .row
        .col-md-12
          block content
    .container.process
      .row
        .col-md-1.hidden-xs.hidden-sm
        .col-md-2
          .step
            h4 Get A Quote
            p Select your device, the condition, and accept our quote.
        .col-md-2
          .step
            h4  Select Method
            p Select which shipping method you want. Shipping is Free!.
        .col-md-2
          .step
            h4  Ship Package
            p Package your device and safely mail it with our prepaid mailing kit.
        .col-md-2
          .step
            h4  We Inspect
            p We'll inspect your device the same day as it arrives
        .col-md-2
          .step
            h4  You Get Cash
            p Be pay via check or Paypal the day we receive your device
        .col-md-1.hidden-xs.hidden-sm
      hr

    .container
      .row
        .col-md-6
          .row
            .col-md-6
              .box
                p
                  strong Best Price Quotes
                p Guaranteed Highest Offers
                p Free Shipping
                p Great Communication!
            .col-md-6
              .box
                p
                  strong Sell With Confidence
                p We provide 24/7 support
                p We are here for you!

        .col-md-6.satisfied-sellers
          p
            strong Satisfied Sellers
          quote "Buyback Boss was the perfect way to sell my iPhone. The service was quick and easy, and I got paid big bucks. Full Credit to them!"
          .rate
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            br
            | Mark M.

    .container.stay-connect
      .row
        .col-md-12
          h3 Stay connected
          a(href='#')
            i.fa.fa-facebook-square
          a(href='#')
            i.fa.fa-yelp
          a(href='#')
            i.fa.fa-envelope-o



    include ./includes/footer.jade
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')