.container.faq
  .row
    .col-md-12
      h1 FAQ

      h4 When can I expect to receive my payment?
      p We issue payment as soon as we receive your device and verify that the device match the sold conditions that you’ve choose. This process takes 24-48 hours.

      h4 How will I get paid?
      p If you chose PayPal for your payment method, your credit will be applied the same day and it will arrive to your account instantly. If you chose a Business Check for your payment method, the check will be put in the mail the very same day and will arrive within 3 business days.

      h4 How can I track the status of my sale?
      p Tracking the status of your sale is easy. Simply visit the "Track Your Device" page of our website and enter the email address you used to register the sale of your device. From here, you will be able to view the complete status of your order from when we receive it until when the payment is issued.

      h4 What happens if you disagree with the condition I select for my item?
      p If the model or condition of the device we receive from you does not match what was described from our online condition selection page, we will send you an email with a revised quote. If you are not satisfied with the revised quote, we will return your phone free-of-charge using the same method it was originally shipped in. Returned items will be shipped via USPS First Class Mail and will arrive within 3 business days.

      h4 How long is my cash4mydevice offer good for?
      p We guarantee the quoted price for 30 days from when you are quoted. Should you decide to send in your item after 30 days from the quote we will email you to issue a re-quote.

      h4 What are my options to ship my device?
      p If you chose to receive free shipping material, we will send you a prepaid label and shipping box.
        ol
          li Prepaid shipping package will arrive within 3 business days.
          li Once you receive the shipping package from us, place your device in the bubble bag, seal it and place in the.
          li Drop package at your local Post Office (USPS).
      p If you chose to print and ship us your device.
        ol
          li Print the label from our prepaid checkout page.
          li Wrap the device padded with bubble wraps or some other protective shipping materials.
          li Place the device in a box or in a bubble protective shipping envelope.
          li Seal the pre-paid shipping label on the box and drop the package at your local Post Office (USPS).

      h4 Do I need to erase the data from my device?
      p Yes. For iPhone and Samsung device do the following: Settings > General > Reset > Erase All Content and Settings. Included in the shipping package are procedures on how to delete the contents and remove the device from iCloud, if apply.

      h4 I’m worried that data from my device can be retrievable, how will cash4mydevice address this?
      p Cash4mydevice understands your concern that is why part of our inspection process of the device we will wipe and scrape your mobile phone hard drive clean with industry standard software.

      h4 Do I need to pay for shipping?
      p No, shipping is on cash4mydevice and it’s 100% free on us.

      h4 Does cash4mydevice offer free shipping materials?
      p Yes, we offer a prepaid shipping box. Upon checkout, choose to have a prepaid label and shipping box sent to your door.

      .alert.alert-info
        p Have further questions? Email us at sales@cash4mydevice.com