.container.content-body
  .row.first-step
    .col-md-12
      .col-sm-5
      .col-sm-7
        h2 Select your phone type to get start
        h4 Get an Instant Quote (It's Free!)
    .col-sm-5
      img(ng-src='images/phone-money.png').img-responsive.hidden-xs.center-block
    .col-sm-7
      .row
        .col-md-12.arrow
          .col-sm-6.hidden-xs
            i.fa.fa-long-arrow-down
          .col-sm-6
            i.fa.fa-long-arrow-down
        .col-sm-6
          a(ui-sref='selectModel({type: "apple"})')
            img(ng-src='images/apple-logo.png', hover-image).apple-logo.img-responsive.center-block
        .col-sm-6
          a(ui-sref='selectModel({type: "samsung"})')
            img(ng-src='images/samsung-logo.png', hover-image).samsung-logo.img-responsive.center-block