.container.content-body
  .row.first-step
    .col-md-12
      .col-sm-5
      .col-sm-7
        h2 Select your phone type to get started
        h4 Get an Instant Quote (It's Free!)
    .col-sm-5
      img(ng-src='images/phone-money.png', hover-image).img-responsive.hidden-xs.center-block
    .col-sm-7
      .row
        .col-md-12.arrow
          .col-sm-6.hidden-xs
            i.fa.fa-long-arrow-down
          .col-sm-6
            i.fa.fa-long-arrow-down
        .col-md-12.arrow
          .col-sm-6
            a(ui-sref='selectModel({type: "apple"})')
              img(ng-src='images/devices/iphone5s.png', hover-image).img-responsive.center-block
              h4 Apple
          .col-sm-6
            a(ui-sref='selectModel({type: "samsung"})')
              img(ng-src='images/devices/galaxy-note-4.png', hover-image).img-responsive.center-block
              h4 Samsung