.container.device-model
  .row
    .col-md-12
      h2 Select your model
    .col-sm-12
      .row
        div(ng-repeat='device in devices')
          .col-sm-3.col-md-2
            a(ui-sref="selectCarrier({type: $stateParams.type, model: '{{ ::device.uri }}' })")
              img(ng-src='/images/devices/{{ ::device.uri }}.png', hover-image).center-block.img-responsive
              h4.text-center {{ ::device.name }}