/**************************************************
 * Header
 **************************************************/
header
  .logo
    margin: 15px 0

.first-step
  .apple-logo
    margin-top 30px
    width 50%
  .samsung-logo
    margin-top 60px

.box
  height 122px;

.process .step
  &:hover
    img
      position relative
      top -3px

/**************************************************
 * Footer
 **************************************************/
footer.container
  margin-left auto
  margin-right auto
