@require 'variables.styl'

p, a, label, input, textarea, body
  font-family font('body')

h1, h2, h3, h4, h5
  font-family font('header')

a
  color palette('primary', 'green', 'light')
  &:hover, &:focus
    color palette('primary', 'gold')
    text-decoration none

.mt-20
  margin-top 20px

.box
  border 1px solid palette('primary', 'gold')
  padding 20px
  border-radius 10px
  margin-bottom 20px
  p
    margin 0

.fa-star
  color palette('primary', 'gold')

.satisfied-sellers
  position relative
  min-height 130px
  quote
    font-style italic
  .rate
    text-align right
    position absolute
    bottom 0
    right 20px

.stay-connect
  text-align center
  margin-bottom 20px
  h3
    font-family font('fancy')
    font-size 40px
  .fa.fa-long-arrow-right
    margin 0 20px
    color #000
  .fa
    margin 0 5px
    font-size: 30px
    color #ccc
  .fa-facebook-square
    &:hover
      color #3b5998
  .fa-yelp
    &:hover
      color #c41200
  .fa-envelope-o
    &:hover
      color palette('primary', 'gold')
/**************************************************
 * Header
 **************************************************/
header
  .logo
    margin: 15px auto
.top-nav-wrap
  background-color palette('primary', 'green')
  box-shadow 0 5px 5px #ccc
  li
    &.active
      a
        color palette('primary', 'gold')
    a
      color #fff
      text-transform uppercase
      &:hover
        color palette('primary', 'gold')
  .navbar-toggle
    border-color palette('primary', 'gold')
    .icon-bar
      background-color: palette('primary', 'gold')


 hr
   border-top: 1px solid palette('primary', 'gold');

.first-step
  .arrow
    text-align center
    font-size 50px

/**************************************************
 * Process
 **************************************************/
.process .step
  p, h4
    text-align center
  img
    margin: 0 auto

/**************************************************
* Review device
**************************************************/
.review-device
  .sideBar
    margin-top 20px
    ul
      list-style none
      padding 0
      li
        margin 5px 0
      .fa-times
        color: #ff0000
      .fa-check
        color: #008000

/**************************************************
* Checkout
**************************************************/
.checkout
  .cart
    .fa-times
      color: #ff0000
    .device
      border 1px solid palette('primary', 'gold')
      padding 15px
    .total-box
      border 1px solid palette('primary', 'gold')
      background-color palette('primary', 'gold', 'light')
      padding 15px
      font-size 30px
      color palette('primary', 'green', 'light')

/**************************************************
 * Footer
 **************************************************/
footer.container
  border 1px solid palette('primary', 'green', 'light')
  padding 15px
  border-radius 10px
  margin 0 15px;
  p
    font-size 11px
    line-height: 12px
    margin: 0
  .nav li
    display inline-block
    float none
    margin 0
    &.active > a,
    a:hover
      background transparent
      color palette('primary', 'gold')


.grass
  background-image url('/images/grass.jpg')
  height 46px

/**************************************************
 * Small devices (tablets, 768px and up)
 **************************************************/
@media (min-width: 768px)
  @import 'sm.styl'

/**************************************************
 * Medium devices (desktops, 992px and up)
 **************************************************/
@media (min-width: 992px)
  @import 'md.styl'

/**************************************************
 * Large devices (large desktops, 1200px and up)
 **************************************************/
@media (min-width: 1200px)
  @import 'lg.styl'

/**************************************************
 * Override default bootstrap css
 **************************************************/
.top-nav-wrap .nav > li > a:hover,
.top-nav-wrap .nav > li > a:focus
  background-color transparent

.nav .nav-divider
  height 32px
  background-color palette('primary', 'gold');
  width 1px;

 footer
   .nav > li > a
     padding 0 15px
     margin-bottom 10px

.breadcrumb
  margin-top 15px
  margin-bottom 0